:root {
  --widthMenuItem: 260px;
  --heightMenuItem: 360px;
}
.container {
  padding: 10rem 5rem 0 5rem;
}
.container h1 {
  font-size: 3rem;
  color: #424242;
  padding-bottom: 0.7em;
  text-align: center;
  border-bottom: 2px solid #bdbdbd;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1.5px solid #bdbdbd;
  border-radius: 1rem;
  padding: 1rem 0;
}
.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.7rem;
  max-width: var(--widthMenuItem);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 3px 10px #8a8a8a;
  background-color: #ffffff;
}
.menuItem img {
  max-width: var(--widthMenuItem);
  max-height: var(--widthMenuItem);
  object-fit: cover;
}
.menuItem-footer {
  display: flex;
  flex-direction: row;
  padding: 0 1.2rem;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: 700;
  color: #e1951c;
}

.reserv-container {
  position: relative;
}
.reserv-container > img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  object-fit: cover;
}
.reserv-body {
  position: relative;
  margin: 5rem 13rem;
  padding: 3rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 5px 20px #3b3b3b;
  background-color: #495e57;
  border: 2px solid #3b3b3b;
}
.reserv-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-item {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0;
  margin: 0.2rem 0;
}
.form-item input {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1.6px solid #989898;
  margin: 0.2rem 0;
  max-width: 20em;
  background-color: #f4f4f4;
}
.form-label-group {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
}
.form-submit {
  position: absolute;
  right: 3.5rem;
  bottom: 2rem;
}
.form-submit input {
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  border-style: none;
  box-shadow: 0 2px 5px #000000;
  padding: 0.6rem 1.2rem;
  background-color: #f4ce14;
}
.form-section {
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
  margin-bottom: 2.5rem;
  border-radius: 1rem;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 253, 239),
    rgb(238, 233, 195)
  );
  border: 1.5px solid #ababab;
}
.form-section > h2 {
  font-size: medium;
  text-align: center;
  border-radius: 2rem;
  border-bottom: 2px solid #ababab;
}
.section-book {
  margin-right: 1.5rem;
}
.section-client {
  margin-left: 1.5rem;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 75vmin;
  margin: 3rem 25vw;
  border-radius: 1.5rem;
  border: none;
  background-color: #3d6c5c;
  box-shadow: 2px 5px 7px #888888;
}
.auth-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 2rem;
}
.auth-body input {
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 1.6px solid #989898;
  margin: 0.5rem 0;
  width: 40vmin;
  background-color: #f2f2f2;
}
.auth-body h3 {
  color: #f4ce14;
  text-shadow: 0.5px 0.5px 2px #000000;
}
.auth-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40vmin;
}
.auth-footer button {
  padding: 1rem 1.5rem;
  margin: 1.5rem 1.5rem;
  border-radius: 0.5rem;
  border-style: none;
  background-color: #f4ce14;
}
.auth-footer button[type|="submit"] {
  font-size: 0.9em;
  font-weight: 600;
}
.auth-footer button[type|="button"] {
  font-size: 1em;
  font-weight: 600;
  color: #e7aa00;
  background: none;
}

#confirmbox {
  position: fixed;
  top: 25%;
  left: 30%;
  background-color: #ffffff;
  border-radius: 2em;
  overflow: hidden;
  box-shadow: 0 10px 10px #5050507d;
  z-index: 1000;
}
.confirm-container {
  display: grid;
  grid-template-areas:
    "header header"
    "body body"
    "footer footer";
}
.confirm-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 2rem;
  background-color: #3d6c5c;
  grid-area: header;
}
.confirm-header-icon {
  position: absolute;
  font-size: 1.8rem;
  color: #ffffff;
  right: 1.2em;
  top: 1em;
}
.confirm-header h2 {
  display: block;
  font-size: 1.5em;
  text-align: center;
  margin: 0 1.2rem;
  max-width: 35vw;
  color: #ffdb24;
}
.confirm-header .detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.confirm-header .detail p {
  color: #c4c4c4;
  padding: 0.5em 0.5em;
}
.confirm-body-container {
  grid-area: body;
}
.confirm-body {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 1em;
}
.confirm-body-item {
  margin: 0 1em;
}
.confirm-footer {
  grid-area: footer;
  text-align: center;
  background-color: #e2e2e2;
}
.confirm-footer button {
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  margin: 1.5rem 1.5rem;
  border-radius: 0.5rem;
  border-style: none;
}
.confirm-footer .cancel {
  color: #fb0f0f;
  background: none;
}
.confirm-footer .confirm {
  background-color: #9fff94;
  box-shadow: 0 2px 2px #31b422;
}

/* border: 2px solid #000000; */
