:root {
  --widthHero: 407px;

  --heightFoodCard: 184px;
  --widthFoodCard: 289px;

  --widthReviewBlog: 415px;

  --widthAbout: 320px;
  --heightAbout: 240px;

  --widthFooterLogo: 89;
  --heightFooterLogo: 151px;
}

.App {
  text-align: center;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 2rem 0;
  position: fixed;
  z-index: 100;
}

header img {
  width: 13rem;
  padding: 0 4rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav li a {
  font-weight: 700;
  font-size: large;
  text-decoration: none;
  color: #000000;
  padding: 1.5rem;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1 fr);
}

.hero {
  grid-column: 3 / span 10;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-top: 8em;
}

.hero img {
  width: var(--widthHero);
  height: var(--widthHero);
  position: absolute;
  border-radius: 1.3rem;
  top: 3.2em;
  right: 16vmax;
}

.hero-container {
  font-family: sans-serif;
  text-align: left;
  padding-left: 16vmax;
  padding-bottom: 24rem;
}

.foodCard-container {
  width: var(--widthFoodCard);
  padding-right: 2.5rem;
}
.foodCard {
  height: calc(var(--heightFoodCard) * 2.5);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ebebeb;
}
.foodCard > img {
  height: var(--heightFoodCard);
  object-fit: cover;
}
.foodCard > article {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 17px;
}
.foodCard-footer {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  font-weight: bold;
  align-items: center;
}

.highlight-container {
  padding: auto;
  margin: 10rem 16vmax;
}
.highlight-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
  justify-content: space-between;
  align-items: center;
}
.highlight-header > h1 {
  font-size: 3em;
}
.highlight-header > button {
  margin-right: 3em;
  padding: 1.2em 2em;
  font-size: 1.2em;
  font-weight: bold;
  border-width: 0;
  border-radius: 0.5em;
  background-color: #f4ce14;
}

.testimonial {
  width: 100vw;
  background-color: #ebebeb;
  padding: 5em 0 0 0;
}
.testimonial article {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  justify-content: stretch;
}
.review-blog {
  min-width: var(--widthReviewBlog);
  padding: 1em 2em;
  margin: 4em 1.2em;
  background-color: #ffffff;
  border-radius: 1.7em;
}
.review-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2em;
  height: 2.2em;
  font-size: 1.2em;
  border-radius: 50%;
  margin-right: 2.3em;
  color: #5b5b5b;
  background-color: #e0e0e0;
}

.about-body article {
  text-align: start;
  width: var(--widthHero);
}
.about-body article > h1 {
  font-size: 3.4em;
  color: #f4ce14;
}
.about-body article > h4 {
  font-size: 1.8em;
  color: #495e57;
  line-height: 0;
  margin-bottom: 4rem;
}
.about-body article > p {
  color: #6f6f6f;
}
.about-body {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 8vmax 16vmax;
}
.aboutImg {
  width: var(--widthAbout);
  height: var(--heightAbout);
  object-fit: cover;
  position: absolute;
}
.about-img1 {
  top: 18vmax;
  box-shadow: -6px 3px 20px #5b5b5b;
}
.about-img2 {
  top: 10vmax;
  right: 16vmax;
  box-shadow: -6px 3px 20px #5b5b5b;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
  width: 100vw;
  padding: 8vmax 0;
}
.footer-logo {
  width: var(--widthFooterLogo);
  height: var(--heightFooterLogo);
  margin-right: 8em;
}
.footer-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-body-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 6em;
  color: #d1d1d1;
}
.footer-body-item h4 {
  line-height: 0;
}
.footer-body-item ul {
  text-align: left;
  list-style-type: none;
}
.footer-body-item li {
  padding: 2px 0;
}
.footer-body-item a {
  color: #d1d1d1;
  text-decoration: none;
}

/* border: 2px solid #000000; */
