.App {
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem 0;
}

header img {
  width: 13rem;
  padding: 0 4rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav li a {
  font-weight: 700;
  font-size: large;
  text-decoration: none;
  color: #000000;
  padding: 1.5rem;
}

.hero {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.hero img {
  width: 407px;
  height: 407px;
  position: absolute;
  border-radius: 1.3rem;
  top: 3.2em;
  right: 23vw;
}

.hero-article {
  display: flex;
  flex-direction: column;
  height: "377px";
  align-items: start;
  justify-content: flex-start;
  padding-left: 32rem;
  padding-bottom: 24rem;
}
